doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  body
    block content
      div.container
        h1 Simple Timestamp Microservice
        p To use pass in a parameter that either contains an unix timestamp or a natural language date (January 1, 2016)
        p If it's true it'll return the date - if false then it will return null
        h2 Example Usage:
        code https://timestamp-api-hanseul.herokuapp.com/december%2020%202015
        code https://timestamp-api-hanseul.herokuapp.com/1450569600
        h2 Example Output:
        code {"unix":1450569600,"natural":"December 20, 2015"}
